
<article class="card">
    <img src="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 1: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<!-- <article class="card">
    <img src="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 2: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 3: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 4: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 5: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 6: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 7: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 8: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 9: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article>

<article class="card">
    <img src="https://via.assets.so/album.png?id=10&q=95&w=360&h=360&fit=fill" alt="">
    <h2>Card 10: Titel</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, ratione odit praesentium explicabo eligendi doloremque similique dolorum facere consequuntur, facilis incidunt fugit officia magnam iste, odio doloribus molestiae laudantium. Perspiciatis?</p>
</article> -->


<style>
.card {
  min-width: 190px;
  background: #181818;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.2s ease;
  margin: 1rem;

}

.card:hover {
  background: #282828;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #b3b3b3;
}

p {
  font-size: 0.8rem;
  color: #b3b3b3;
}


</style>